/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url(/src/css/color-scheme.css);

.footer {
  --ifm-footer-color: #858a96;
  --ifm-footer-title-color: var(--ifm-footer-color);
  --ifm-footer-background-color: var(--ifm-background-surface-color);
}

[data-theme='light'] .footer {
  --ifm-footer-color: hsl(222deg, 7%, 65%);
}

.footer .footer__links {
  margin-bottom: calc(var(--ifm-spacing-vertical) * 3)
}

.footer .footer__bottom {
  margin-top: var(--ifm-spacing-vertical);
}

.shadow--xtl {
  box-shadow: 0 8px 20px rgb(0 0 0 / 20%);
}

[data-theme='dark'] .hero {
  --ifm-hero-background-color: hsl(20deg 55% 44%);
  --ifm-hero-text-color: var(--ifm-font-color-base);
}
